
// Fonts
$main-font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
$body-font-size: 0.875rem;
$body-line-height: 1.64;

// Colors
$color-black: #000;
$color-white: #fff;
$color-light-gray: #C3C2CF;
$color-red: #D92929;
$color-dark-blue: #050038;
$color-transparent-blue-light: rgba(102, 153, 255, 0.2);
$color-transparent-blue-dark: rgba(102, 153, 255, 0.8);

// Spacing
$base-spacing: 8px;

// Dimensions
$mail-rows-count: 3;
$input-height: (24px + 4px) * $mail-rows-count;
$remove-button-size: 8px;
